<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">
	<link rel="stylesheet" href="main.css">
	<script src="../app/utils.js"></script>
	<script src="../app/app.js"></script>
	<script src="../view/controller.js"></script>
	<script src="../view/graph.js"></script>
	<script src="../main.js"></script>
	<title>Puzzle</title>
</head>
<body>
	<div id="content">
		<div id="stats">
			<p id="msg"></p>
		</div>
	<div>
</body>
</html>
